In [2]:
# initialization and random seed set

import os
import scipy
import random
import sklearn
import numpy as np
import pandas as pd

In [ ]:
from dask import dataframe as dd

In [3]:
df = pd.read_csv('D:/UKBiobank/UKB_wholedata.csv', nrows=20)

In [4]:
df

,eid,3-0.0,3-1.0,3-2.0,3-3.0,4-0.0,4-1.0,4-2.0,4-3.0,5-0.0,...,132596-0.0,132597-0.0,132598-0.0,132599-0.0,132600-0.0,132601-0.0,132602-0.0,132603-0.0,132604-0.0,132605-0.0
0,1000015,370,NaN,NaN,NaN,470.0,NaN,NaN,NaN,408.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000027,353,NaN,NaN,NaN,646.0,NaN,NaN,NaN,201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000039,237,NaN,NaN,NaN,339.0,NaN,NaN,NaN,255.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000040,322,NaN,NaN,NaN,572.0,NaN,NaN,NaN,320.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000053,536,NaN,NaN,NaN,426.0,NaN,NaN,NaN,205.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1000064,493,NaN,NaN,NaN,669.0,NaN,NaN,NaN,375.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1000071,955,NaN,NaN,NaN,538.0,NaN,NaN,NaN,230.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1000088,985,NaN,NaN,NaN,521.0,NaN,NaN,NaN,259.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1000096,384,NaN,NaN,NaN,554.0,NaN,NaN,NaN,225.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1000109,309,NaN,NaN,NaN,348.0,NaN,NaN,NaN,227.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1000117,335,NaN,251.0,NaN,952.0,NaN,561.0,NaN,330.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1000125,620,NaN,NaN,NaN,671.0,NaN,NaN,NaN,167.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1000132,416,NaN,NaN,NaN,722.0,NaN,NaN,NaN,354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1000148,1336,NaN,367.0,NaN,700.0,NaN,422.0,NaN,784.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1000154,382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1000163,298,NaN,NaN,NaN,568.0,NaN,NaN,NaN,273.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1000176,445,NaN,324.0,NaN,797.0,NaN,NaN,NaN,207.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1000180,239,NaN,NaN,NaN,443.0,NaN,NaN,NaN,214.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1000191,557,NaN,NaN,NaN,564.0,NaN,NaN,NaN,231.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1000204,393,NaN,NaN,NaN,395.0,NaN,NaN,NaN,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
col_list = list(df.columns)

for col in col_list: 
    if '25024' in col.split('-')[0]:
        print(col)

25024-2.0
25024-3.0

In [69]:
col_list = list(df.columns)

def compare_two_imaging_features(field_1, field_2, col_list):
    field_1_list = []
    field_2_list = []
    
    # 혹시 몰라서 이와 같이 하기는 했으나, 대부분 2.0 / 3.0 두가지 버전으로 존재한다. 
    for col in col_list :
        if field_1 in col.split('-')[0]: 
            field_1_list.append(col)
        elif field_2 in col.split('-')[0]:
            field_2_list.append(col)
    
    df_1 = pd.read_csv('D:/UKBiobank/UKB_wholedata.csv', header=0, usecols=field_1_list)
    df_2 = pd.read_csv('D:/UKBiobank/UKB_wholedata.csv', header=0, usecols=field_2_list)
    
    # 두 데이터 프레임의 shape 비교 
    print(f"Data field {field_1} length : {df_1.shape}") 
    print(f"Data field {field_2} length : {df_2.shape}") 
    
    two_versions = True
    
    if len(field_1_list) != 2:
        print(f"Data field {field_1} has more than two versions!")
        print(field_1_list)
        two_versions = False
    if len(field_2_list) != 2:
        print(f"Data field {field_2} has more than two versions!")
        print(field_2_list)
        two_versions = False 
        
        
    if two_versions: 
        df_1_ver_2 = df_1[df_1[field_1+'-2.0'].notnull()]
        df_2_ver_2 = df_2[df_2[field_2+'-2.0'].notnull()]
        
        df_1_ver_3 = df_1[df_1[field_1+'-3.0'].notnull()]
        df_2_ver_3 = df_2[df_2[field_2+'-3.0'].notnull()]
        
        print(f"Data field {field_1} ver 2.0: {df_1_ver_2.shape}")
        print(f"Data field {field_2} ver 2.0: {df_2_ver_2.shape}")
        
        print(f"Data field {field_1} ver 3.0: {df_1_ver_3.shape}")
        print(f"Data field {field_2} ver 3.0: {df_2_ver_3.shape}")
    
    return 0

# Checking the number of Indexes in the same categories

## Regional Grey matter volumes

In [59]:
col_list = list(df.columns)

for col in col_list: 
    if '25888' in col.split('-')[0]: # Volume of grey matter in Amygdala (left)
        print(col)

25888-2.0
25888-3.0

In [ ]:
whole_gm_vol_25888 = pd.read_csv('D:/UKBiobank/UKB_wholedata.csv', header=0, usecols=['25888-2.0', '25888-3.0'])
# Volume of grey matter in Amygdala (left)


whole_gm_vol_25880 = pd.read_csv('D:/UKBiobank/UKB_wholedata.csv', header=0, usecols=['25880-2.0', '25880-3.0']) 
# Volume of grey matter in Caudate (left)

In [62]:


# 두 데이터 셋의 길이 비교 
print(f"25888 : {whole_gm_vol_25888.shape}")
print(f"25880 : {whole_gm_vol_25880.shape}")

# 2.0 비교 
whole_gm_vol_25888_ver_2 = whole_gm_vol_25888[whole_gm_vol_25888['25888-2.0'].notnull()]
whole_gm_vol_25880_ver_2 = whole_gm_vol_25888[whole_gm_vol_25880['25880-2.0'].notnull()]
print(f"25888 ver 2.0 : {whole_gm_vol_25888_ver_2.shape}")
print(f"25880 ver 2.0: {whole_gm_vol_25880_ver_2.shape}")


# 3.0 비교 
whole_gm_vol_25888_ver_3 = whole_gm_vol_25888[whole_gm_vol_25888['25888-3.0'].notnull()]
whole_gm_vol_25880_ver_3 = whole_gm_vol_25888[whole_gm_vol_25880['25880-3.0'].notnull()]
print(f"25888 ver 3.0 : {whole_gm_vol_25888_ver_3.shape}")
print(f"25880 ver 3.0: {whole_gm_vol_25880_ver_3.shape}")


# 두 데이터 셋의 인덱스 리스트 비교 
idx_list_25888 = whole_gm_vol_25888.index.tolist()
idx_list_25880 = whole_gm_vol_25880.index.tolist()

print(idx_list_25888 == idx_list_25880)

25888 : (502367, 2)
25880 : (502367, 2)
25888 ver 2.0 : (46393, 2)
25880 ver 2.0: (46393, 2)
25888 ver 3.0 : (4784, 2)
25880 ver 3.0: (4784, 2)
True

**Regional Grey matter volumes에 해당하는 서로 다른 두 feature가 동일한 수의 row를 가지고 있고, index list가 동일하다는 것을 알 수 있다.**

## SubCortical Volumes

In [63]:
sub_vol_25021 = pd.read_csv('D:/UKBiobank/UKB_wholedata.csv', header=0, usecols=['25021-2.0', '25021-3.0'])
# Volume of grey matter in Amygdala (left)


sub_vol_25018 = pd.read_csv('D:/UKBiobank/UKB_wholedata.csv', header=0, usecols=['25018-2.0', '25018-3.0']) 
# Volume of grey matter in Caudate (left)

In [64]:
# 두 데이터 셋의 길이 비교 
print(f"25021 : {sub_vol_25021.shape}")
print(f"25880 : {sub_vol_25018.shape}")

# 2.0 비교 
sub_vol_25021_ver_2 = sub_vol_25021[sub_vol_25021['25021-2.0'].notnull()]
sub_vol_25018_ver_2 = sub_vol_25018[sub_vol_25018['25018-2.0'].notnull()]
print(f"25888 ver 2.0 : {sub_vol_25021_ver_2.shape}")
print(f"25880 ver 2.0: {sub_vol_25018_ver_2.shape}")


# 3.0 비교 
sub_vol_25021_ver_3 = sub_vol_25021[sub_vol_25021['25021-3.0'].notnull()]
sub_vol_25018_ver_3 = sub_vol_25018[sub_vol_25018['25018-3.0'].notnull()]
print(f"25021 ver 3.0 : {sub_vol_25021_ver_3.shape}")
print(f"25018 ver 3.0: {sub_vol_25018_ver_3.shape}")


# 두 데이터 셋의 인덱스 리스트 비교 
sub_vol_25021_idx = sub_vol_25021.index.tolist()
sub_vol_25018_idx = sub_vol_25018.index.tolist()

print(sub_vol_25021_idx == sub_vol_25018_idx)

25021 : (502367, 2)
25880 : (502367, 2)
25888 ver 2.0 : (46381, 2)
25880 ver 2.0: (46381, 2)
25021 ver 3.0 : (4784, 2)
25018 ver 3.0: (4784, 2)
True

##  Freesurfer ASEG

In [70]:
compare_two_imaging_features('26502', '26582', col_list)

Data field 26502 length : (502367, 2)
Data field 26582 length : (502367, 2)
Data field 26502 ver 2.0: (46852, 2)
Data field 26582 ver 2.0: (46852, 2)
Data field 26502 ver 3.0: (4758, 2)
Data field 26582 ver 3.0: (4758, 2)

0

## Freesurfer BA exvivo

In [71]:
compare_two_imaging_features('27103', '27082', col_list)

Data field 27103 length : (502367, 2)
Data field 27082 length : (502367, 2)
Data field 27103 ver 2.0: (46852, 2)
Data field 27082 ver 2.0: (46852, 2)
Data field 27103 ver 3.0: (4758, 2)
Data field 27082 ver 3.0: (4758, 2)

0

## Freesurfer DKT

In [72]:
compare_two_imaging_features('27236', '27283', col_list)

Data field 27236 length : (502367, 2)
Data field 27283 length : (502367, 2)
Data field 27236 ver 2.0: (46852, 2)
Data field 27283 ver 2.0: (46852, 2)
Data field 27236 ver 3.0: (4758, 2)
Data field 27283 ver 3.0: (4758, 2)

0

## Freesurfer desikan gw

In [73]:
compare_two_imaging_features('27025', '27056', col_list)

Data field 27025 length : (502367, 2)
Data field 27056 length : (502367, 2)
Data field 27025 ver 2.0: (46852, 2)
Data field 27056 ver 2.0: (46852, 2)
Data field 27025 ver 3.0: (4758, 2)
Data field 27056 ver 3.0: (4758, 2)

0

## Freesurfer desikan pial

In [74]:
compare_two_imaging_features('26962', '26988', col_list)

Data field 26962 length : (502367, 2)
Data field 26988 length : (502367, 2)
Data field 26962 ver 2.0: (46852, 2)
Data field 26988 ver 2.0: (46852, 2)
Data field 26962 ver 3.0: (4758, 2)
Data field 26988 ver 3.0: (4758, 2)

0

## Freesurfer desikan white

In [75]:
compare_two_imaging_features('26825', '26858', col_list)

Data field 26825 length : (502367, 2)
Data field 26858 length : (502367, 2)
Data field 26825 ver 2.0: (46852, 2)
Data field 26858 ver 2.0: (46852, 2)
Data field 26825 ver 3.0: (4758, 2)
Data field 26858 ver 3.0: (4758, 2)

0

## Freesurfer subsegmentation

In [76]:

compare_two_imaging_features('26613', '26665', col_list)

Data field 26613 length : (502367, 2)
Data field 26665 length : (502367, 2)
Data field 26613 ver 2.0: (46852, 2)
Data field 26665 ver 2.0: (46852, 2)
Data field 26613 ver 3.0: (4758, 2)
Data field 26665 ver 3.0: (4758, 2)

0

# Feature Extraction

같은 카테고리에 있는 data field를 Extraction